body {
	margin: 0;
	padding: 0;
	font-family: verdana,sans-serif;
	background-color: #FFF;
	color: #333;
}
header {
	border-top: 8px solid #E0E0E2;
	margin: 0 auto;
	padding: 0 0.5em;
	text-align: left;
	max-width: 700px;
}
main {
	margin: 4em auto 0;
	padding: 0 0.5em;
	text-align: left;
	max-width: 700px;
}
footer {
	border-bottom: 18px solid #E0E0E2;
	margin: 4em auto 0;
	padding: 0 0.5em;
	font-size: 0.8em;
	font-style: italic;
	color: #888;
	text-align: left;
	max-width: 700px;
}



/* header */

#site-title {
	border-bottom: 2px solid #E0E0E2;
	font-family: "georgia", "trebuchet ms", sans-serif;
	font-size: 2.0em;
	font-weight: bold;
	margin: 0.7em 0 0.3em;
	padding: 0;
}

nav {
	text-transform: lowercase;
	font-size: 0.9em;
}
@media only screen and (max-width: 510px) {
    nav ul {
		font-size: 0.7em;
	}
}
nav ul { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}
nav li {
	display: inline;
	margin-left: 0;
	padding-left: 0;
}
nav li:not(:last-child) {
	margin-right: 1em;
}
nav a:link, nav a:visited {
	font-weight: bold;
	text-decoration: none;
}
nav .local { float: left; }
nav .remote  { float: right; }
nav li.remote:not(:last-child) {
	margin-right: 0;
	margin-left: 1em;
}



/* pages */

h1 {
	font-family: "georgia", "trebuchet ms", sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.5em 0 0;
}

#showcases {
	display: flex;
	flex-flow: row wrap;
	margin: 4em 1em 0;
	padding: 0;
}
.showcase-item {
	display: flex;
	flex-flow: row;
	width: 18em;
	margin-right: 2em;
	margin-bottom: 2em;
}
.showcase-image {
	width: 5em;
	height: 5em;
	text-align: left;
}
.showcase-image img {
	max-width: 5em;
	max-height: 5em;
}
.showcase-description {
	text-align: left;
	width: 100%;
	font-size: 0.9em;
	margin-left: 1em;
}
.showcase-description p {
	margin-top: 0;
}



/* posts */
.post-title {
	border-bottom: 1px solid #E0E0E2;
	font-family: "georgia", "trebuchet ms", sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	margin: 4em 0 0.2em;
}
.post-title a:link, .post-title a:visited {
	text-decoration: none;
	color: #333;
}
.post h2 {
	font-family: "georgia", "trebuchet ms", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 2em 0 0;
}
.post h3 {
	font-family: "georgia", "trebuchet ms", sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin: 2em 0 0;
}
a:link, a:visited {
	color: #C03926;
}
time {
	font-size: 0.8em;
	color: #888;
}
main ul { list-style: square; }

pre {
	padding: 1em;
	white-space: pre-wrap;
}
@media only screen and (max-width: 510px) {
    pre { font-size: 0.8em; }
}



/* post images */
img.borderless { border: 0; }
.hero {
	text-align: center;
	margin: 1em 0;
}
.hero img {border: 2em solid black;}
@media only screen and (max-width: 510px) {
    .hero img {border: 0;}
}
.hero img.borderless { border: 0; }
.thumbnail {
	text-align: center;
	margin: 1em 0;
}
.thumbnail img { border: 1px solid #E0E0E2; }
.thumbnail img.borderless { border: 0; }
.inset {
	float: right;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 0;
	margin-bottom: 1em;
}
.thumbnail-grid {
	display: grid;
	grid-template-columns: 210px 210px;
	justify-content: center;
}
figure {
	text-align: center;
}
figcaption {
	color: #333;
	font: italic smaller sans-serif;
	padding: 3px;
	text-align: center;
}
