{{ with .Get "src" }}
{{ $src := $.Page.Resources.GetMatch (printf "*%s*" ($.Get "src")) }}
<figure class="hero">
  {{ if ge $src.Width 800 }}<a href="{{ $src.RelPermalink }}">{{ end }}
    {{ if gt $src.Width 400 }}
    {{ $thumb := $src.Process "resize 400x webp q70" }}
    <img src="{{ $thumb.RelPermalink }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}"{{ if $.Get "class" }} class="{{ $.Get "class" }}"{{ end }} />
    {{ else }}
    <img src="{{ $src.RelPermalink }}" width="{{ $src.Width }}" height="{{ $src.Height }}"{{ if $.Get "class" }} class="{{ $.Get "class" }}"{{ end }} />
    {{ end }}
  {{ if ge $src.Width 800 }}</a>{{ end }}
  {{ if $.Get "caption" }}<figcaption>{{ $.Get "caption" }}</figcaption>{{ end }}
</figure>
{{ end }}
